<h1><%= @flat.name %></h1>
<ul>
  <li><strong>Address:</strong> <%= @flat.address %></li>
  <li><strong>Description:</strong> <%= @flat.description %></li>
  <li><strong>Price:</strong> $<%= @flat.price_per_night %></li>
  <li><strong>Guests:</strong> <%= @flat.number_of_guests %></li>
</ul>
